{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Issues List <i class="fa fa-robot"></i></h1>
    </div>
</div>



{% endblock %}

