{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add a device!!<i class="fa fa-robot"></i></h1>
    </div>
</div>
            <form autocomplete="off" action={{path('device_user_insert', {id:id})}} method="POST">
                <div>
                    <label for="userId" class="control-label">User ID</label>
                    <input type="integer" name="userId" id="name" class="form-control" />
                </div>
                <div>
                    <label for="startDate" class="control-label">Start Date</label>
                    <input type="date" name="startDate" id="startDate" class="form-control" />
                </div>
                <div>
                    <label for="endDate" class="control-label">End Date</label>
                    <input type="date" name="startyDate" id="endDate" class="form-control" />
                </div>
                </br>
                <button type="submit" class="btn btn-dark">Add</button>
            </form>
{% endblock %}

